@mixin btn() {
  position: relative;
  display: inline-block;
  padding: 0.65rem 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 2rem;
  transition: 0.17s all 0s ease-in-out;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    text-decoration: none;
  }
}

@mixin btn-primary() {
  color: $white;
  background-color: $green;

  &:hover,
  &:active {
    color: $white;
    background-color: darken($green, 15%);
  }

  &:focus,
  &:active:focus {
    background-color: darken($green, 15%);
    box-shadow: 0 0 0 0.2rem rgba($green, 0.7);
  }
}

.btn:not(.menu-item) {
  @include btn();
}

.btn-primary:not(.menu-item) {
  @include btn-primary();
}