.footer-form-wrapper{
	display: block;
	width: 100%;
	max-width: 100%;
	background: -webkit-linear-gradient(-45deg, $darkblue 0%, $blue 100%);
	position: relative;
	z-index: 40;

	>.inset{
		@include thousand();
		padding-top: get_em(75px,16px);
		padding-bottom: get_em(75px,16px);

		>.form-title{
			display: block;

			>h3{
				font-size: get_em(14px,16px);
				line-height: get_em(19px,14px);
				letter-spacing: 2px;
				font-weight: bold;
				color: $white;
				display: inline-block;
				margin:0;
				padding: 0 0 4px;
				border-bottom: 2px solid $blue;
			}
		}
		>p{
			font-size: get_em(36px,16px);
			line-height: get_em(49px,36px);
			font-weight: 300;
			letter-spacing: 1px;
			color: $white;
			margin:get_em(25px,36px) 0 0;
		}
		>.footer-form-outer-wrapper{
			margin: 60px 0 0;
			border-top: 2px solid transparentize($white,.88);

			>.gform_wrapper{
				@include gravity_reset();

				>form{
					>.validation_error{
						background: $red;
						border:none!important;
						color: $white;
						text-align: center;
						box-shadow: none!important;
						margin:0 auto;
					}
					>.gform_header{
						display: none;
						visibility: hidden;
					}
					>.gform_body{
						@include gravity_reset();
						padding-top: get_em(35px,16px);

						>.gform_fields{
							display: block;
							width: 50%;
							max-width: 50%;
							padding: 0;
							@media(min-width: 769px){
								margin-bottom: get_em(-25px,16px)!important;
							}

							&:first-of-type{
								padding-right:25px;
							}
							&:last-of-type{
								padding-left: 25px;
							}

							>.gfield{
								@include gravity_reset();
								margin:0 0 get_em(25px,16px);

								>.gfield_label{
									display: none;
									visibility: hidden;
								}
								>.ginput_container{
									@include gravity_reset();

									>input[type='text'],
									>textarea{
										font-family: $openSans;
										font-size: 16px;
										padding: get_em(11px,16px);
										border-radius: 0!important;
										background: transparent;
										color: $white;
										border:1px solid transparentize($white,.75);
										appearance:none;
										outline: none;
										@include colorPlaceholder( transparentize($white,.75));
										transition: all .16s linear;

										&:focus{
											border:1px solid $white;
											@include colorPlaceholder( $white );
										}
									}
									>input[type='text']{
										line-height: 1em!important;
									}
									>textarea{
										line-height: 1.35em!important;

										&.medium{
											height: get_em(188px,16px);
										}
									}
								}
							}							
						}

					}
					>.gform_footer{
						@include gravity_reset();
						display: block;
						text-align: right;
						padding-top: get_em(50px,16px);

						>input[type='submit']{
							display: inline-block;
							color: $white;
							font-size: 16px;
							letter-spacing: .9px;
							font-weight: normal;
							appearance:none;
							border-radius: 0!important;
							line-height: 1em!important;
							min-height: 0!important;
							padding: get_em(18px,16px) get_em(50px,16px);
							background: $lightblue;
							border:none!important;
							cursor: pointer;
							transition: all .16s linear;
							margin:0;

							&:hover{
								background:lighten($lightblue,10%);
							}
						}
					}
					@media(max-width: 768px){
						>.gform_body{
							>.gform_fields{
								width: 100%;
								max-width: 100%;

								&:first-of-type,
								&:last-of-type{
									padding:0;
								}
							}
						}
						>.gform_footer{
							text-align: center;
							padding-top: get_em(25px,16px);

							>input[type='submit']{
								display: block;
								width: 100%;
								max-width: 100%;
							}
						}
					}
				}
			}
		}

		@media(max-width: 600px){
			>p{
				font-size: get_em(28px,16px);
			}
		}
	}
}
footer.site-footer{
	display: block;
	width: 100%;
	max-width: 100%;
	margin:0;
	padding: 0;
	color: $lightblue;
	background: $black;
	overflow: hidden;
	font-family: $openSans;
	position: relative;
	z-index: 1;

	>.footer-top{		
		@include thousand();
		padding-top: get_em(50px,16px);
		display: flex;
		align-items: center;
		justify-content: space-between;

		>.footer-logo{
			width: 100%;
			max-width: 228px;
			overflow: hidden;

			>a{
				display: block;
				width: 100%;
				max-width: 100%;
				text-decoration: none;
				cursor: pointer;

				>img{
					width: 100%;
					max-width: 100%;
					height: auto;
					vertical-align: middle;
					display: block;
					filter: contrast(0) brightness(2);
				}
			}
		}
		>.footer-form{
			display: block;
			width: 100%;
			max-width: 614px;

			>p{
				font-size: 12px;
				color: $darkgrey;
				font-weight: normal;
				line-height: get_em(28px,12px);
				margin:0;
			}
			>.gform_wrapper{
				@include gravity_reset();

				>form{
					display: flex;

					>.gform_body,
					>.gform_footer{
						@include gravity_reset();
					}
					>.gform_body{
						width: 100%;
						max-width: 100%;
						background: transparent;
						color: $darkgrey;

						>.gform_fields{
							@include gravity_reset();

							>.gfield{
								display: none;

								>.gfield_label{
									display: none;
									visibility: hidden;
								}
								>.ginput_container{
									@include gravity_reset();

									>input[type='text']{
										display: block;
										appearance:none;
										border-radius: 0!important;
										line-height: 1em!important;
										border-radius: 0!important;
										font-size: 16px;
										font-family: $openSans;
										padding: get_em(19px,16px) get_em(21px,16px);
										border:none;
										outline: none;
										width: 100%;
										max-width: 100%;

										@include colorPlaceholder($darkgrey);
									}
								}

								&:first-of-type{
									@include gravity_reset();
									display:block;								
								}
							}							
						}
					}
					>.gform_footer{
						display: block;
						width: 100%;
						max-width: 150px;
						flex:0 0 150px;

						>input[type='submit']{
							display: block;
							width: 100%;
							max-width: 100%;
							appearance:none;
							border-radius: 0!important;
							line-height: 1em!important;
							min-height: 0!important;
							border:none!important;
							text-align: center;
							background: $lightblue;
							transition: all .16s linear;
							color: $white;
							padding: 22px 0;
							font-size: 16px;
							font-family: $openSans;
							letter-spacing: 2px;
							text-transform: uppercase;
							cursor: pointer;

							&:hover{
								background:$blue;
							}
						}
					}
				}
			}
		}

		@media(max-width: 910px){
			display:block;

			>.footer-logo{
				margin:0 auto get_em(50px,16px);
			}
			>.footer-form{
				margin:0 auto;
			}
		}
		@media(max-width: 550px){
			>.footer-form{
				>.gform_wrapper{
					>form{
						display: block;
						overflow: hidden;

						>.gform_body,
						>.gform_footer{
							display: block;
							width: 100%;
							max-width: 100%;

							>input[type='submit']{
								margin:0;
							}
						}
					}
				}
			}
		}
	}

	>.footer-inset{
		@include thousand();
		padding-top: get_em(60px,16px);
		font-size: 1.2em;
    text-align: center;
		
		@media(min-width: 1000px) {
			font-size: 1em;
			text-align: left;
		}

		>.insert{
			display: block;

			>.footer-section-wrapper{
				display: inline-block;
				vertical-align: top;
				width: 33.333333%;

				>aside{
					&.widget{
						width: 100%;
						@media(min-width: 769px){
							max-width: 225px;
						}
						margin:0;
						padding: get_em(23px,16px) 0 0;

						>h3.widget-title{
							position: relative;
							font-family: $openSans;
							font-weight: 600;
							font-size: get_em(18px,16px);
							line-height: get_em(24px,18px);
							display: block;
							margin: 1rem 0;
							padding: 1rem 0;
							color: $lightblue;
							
							&::after {
								content: '';
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translateX(-50%);
								height: 2px;
								width: 2rem;
								background-color: $green;
								
								@media(min-width: 1000px) {
									left: 0;
									transform: translateX(0);
								}
							}
						}
						>div{
							>ul.menu{
								font-size: get_em(14px,16px);
								display: block;
								list-style: none;
								margin:0;
								padding: 0;

								>.menu-item{
									display: block;
									padding: 4px 0;

									>a{
										display: block;
										padding: 5px 0;
										color: $lightblue;
										text-decoration: none;
										transition: all .16s linear;

										&:hover{
											color:$white;
										}
									}
								}
							}
						}
					}
					>div.ehc-custom-widget{
						display: block;
						width: 100%;
						max-width: 100%;

						>.social-media-links{
							margin:0 0 13px;

							>ul{
								display: inline-block;
								text-align: left;
								list-style: none;
								margin:0 -9px;
								padding: 0;

								>li{
									display: inline-block;
									margin:0 9px;

									>a{
										display: block;
										text-decoration: none;
										font-size: 16px;
										color: $lightblue;
										cursor: pointer;
										transition: all .16s linear;

										&:hover{
											color:$white;
										}
									}
								}
							}
						}
						p{
							font-size: get_em(14px,16px);
							margin-bottom: 1em;
							line-height: 1.5;

							a{
								text-decoration: none;
								cursor: pointer;
								transition: all .16s linear;
								color: $lightblue;

								&:hover{
									color: $white;
								}
							}
						}
					}
				}

				@media(min-width: 769px){

					&:nth-child(1){
						>aside{
							margin:0 auto get_em(60px,16px) 0;
						}
					}
					&:nth-child(2){
						>aside{
							margin:0 auto get_em(60px,16px);
						}
					}
					&:nth-child(3){
						>aside{
							margin:0 0 get_em(60px,16px) auto;
						}
					}
				}
			}			
		}
	}
	>.footer-menu{
		>.inset{
			@include thousand();
			font-size: get_em(14px,16px);

			>ul.main-navigation{
				display: block;
				margin:0;
				padding: 0;
				list-style: none;
				border-top: 1px solid $lightblue;				

				>.menu-item{
					display: inline-block;
					margin:0 23px;

					>a{
						display: block;
						padding: 12px 0;
						font-family: $openSans;
						font-weight: 600;
						text-transform: uppercase;
						text-decoration: none;
						color: $lightblue;				
					}

					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	>.footer-copyright{
		>.inset{
			@include thousand();
			padding-top: get_em(12px,16px);
			padding-bottom: get_em(15px,16px);

			>p.copyright{
				font-size: get_em(12px,16px);
				margin:0;
				font-family: $openSans;
				color: transparentize($darkblue,.5);

				>a{
					color: inherit;
					text-decoration: none;

					&:hover{
						color:$blue;
					}
				}
			}
		}
	}

	@media(max-width: 768px){
		>.footer-inset{
			>.insert{
				>.footer-section-wrapper{
					display: block;
					width: 100%;
					max-width: 100%;

					>aside.widget{
						margin-bottom: 50px;
					}
				}
			}
		}
	}
	@media(max-width: 400px){
		>.footer-menu{
			>.inset{
				>ul.main-navigation{
					display: flex;
					justify-content: space-between;
					align-self: center;			

					>.menu-item{
						margin:auto;
					}
				}
			}			
		}
	}
	
	.newsletter {
		@media(min-width: 1000px) {
			width: 40%;
		}
		
		h3 {
			margin: 0 0 0.2em 0;
			color: $blue;
			text-transform: uppercase;
		}
		
		.gform_wrapper {
			margin: 0;
			
			#gform_4 {
				#field_4_2 {
					max-width: none !important;
					margin: 0 !important;
					padding: 0;
					border: 0;
					
					.gfield_label {
						display: none;
					}
					
					.ginput_container {
						width: 100%;
						margin: 0;
						
						input {
							margin: 0;
							padding: 0.5em 3em 0.5em 0.5em;
	    				line-height: 1;
							border: 0;
							border-radius: 0.5rem;
							background-color: $white;
						}
					}
				}
				
				.gform_footer {
					margin: 0;
					padding: 0;
				}
				
				#gform_submit_button_4 {
					position: absolute;
					right: 0;
	    		bottom: 0;
					margin: 0;
					padding: 10px 1rem !important;
					border-radius: 0 0.5rem 0.5rem 0;
					border: 0;
				}
				
				#gform_ajax_spinner_4 {
					position: absolute;
					z-index: 1;
					right: 0.75rem;
					bottom: 0.65rem;
					padding: 0;
				}
				
				#validation_message_4_2,
				#field_4_3.gfield_error {
					display: none;
				}
			}
		}
	}
}
