header.site-header{	
	position: fixed;
	font-family: $openSans;
	font-size: 1em;
	display: block;
	width: 100%;
	max-width: 100%;
	z-index: 40;
	background: $white;
	
	> .lower-header > .primary-menu > ul.main-navigation > .menu-item {
		&.btn.btn-primary {
			text-align: center;
			padding: 0 2rem;
			
			a {
				@include btn();
				@include btn-primary();
			}
		}	
	}

	>.upper-header{
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
		z-index: 41;
		background: $black;
		display: flex;
		align-items: center;

		>.social-media-links{
			flex:0 1 173px;
			display: inline-block;
			vertical-align: middle;

			>ul{
				display: block;
				margin:0 -9px;
				padding: 0 25px;

				>li{
					display: inline-block;
					vertical-align: middle;
					margin:0 9px;

					>a{
						font-size: 16px;
						display: block;
						color: transparentize($white,.5);
						transition: all .16s linear;
						text-align: center;
						vertical-align: middle;						

						&:hover{
							color:$white;
						}
					}
				}
			}
		}
	}

	/*Desktop for the TOP menu */
	@media(min-width: 700px){
		>.upper-header{			
			>.primary-menu{
				flex:1 0 300px;
				display: inline-block;
				vertical-align: middle;

				#mobile-active-two{
					display: none;
					visibility: hidden;
				}
				>.main-navigation{
					font-size: get_em(12px,16px);
					display: block;
					text-align: right;
					display: flex;
					justify-content: flex-end;
					width: 100%;
					max-width: 100%;
					margin:0;
					padding: 0;
					list-style: none;

					>.menu-item{
						display: inline-block;
						text-align: center;
						vertical-align: middle;
						position: relative;
						z-index: 45;

						>a{
							display: block;
							text-align: center;
							font-size: 1em;
							color: transparentize($white,.5);
							text-decoration: none;
							transition: all .16s linear;
							padding: get_em(12px,12px) get_em(48px,16px);
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: 600;
							transition: all .16s linear;					
						}					

						&.light{
							>a{
								background: transparentize($lightblue,.5);
							}
						}
						>a.go-back{
							display: none;
							visibility: hidden;
						}

						>.sub-menu-wrap{
							position: absolute;
							bottom: 0;
							right: 0;
							background: $blue;
							min-width: 200px;
							transform: translate(0,100%);
							z-index: 46;
							visibility: hidden;
							opacity: 0;
							transition: all .16s linear;

							>.sub-menu{
								font-size: get_em(16px,12px);
								list-style: none;
								text-align: right;
								display: block;
								margin:0;
								padding: 33px 20px 14px;

								>.menu-item{
									display: block;
									margin:0 0 get_em(23px,16px);

									>a{
										display: block;
										color: $white;
										transition: all .16s linear;
										text-decoration: none;
										white-space: nowrap;

										&:hover{
											color:$darkblue;
										}
									}
								}
							}
						}

						&:hover{
							>a{
								color: $white;
								background: $blue;
							}
							>.sub-menu-wrap{
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}		
	}

	/*Desktop for the BIG Menu */
	@media(min-width: 1160px){
		>.lower-header{
			display: block;
			display: flex;
			width: 100%;
			max-width: 100%;
			position: relative;
			z-index: 40;

			#site-root{
				display: inline-block;
				margin-left: get_em(75px,16px);
				width: 100%;
				max-width: 306px;
				flex:0 0 306px;
				text-decoration: none;
				overflow: hidden;
				padding:15px 0;

				>img{
					width: 100%;
					max-width: 100%;
					height: auto;
					vertical-align: middle;
					display: block;
				}
			}
			>.primary-menu{
				display: inline-block;			
				width: 100%;
				max-width: calc( 100% - 381px );
				flex:1 0 300px;

				#mobile-active{
					display: none;
					visibility: hidden;
				}
				>ul.main-navigation{
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin:0;
					padding: 0;
					list-style: none;

					>.menu-item{
						display: block;
						text-align: center;
						color: $lightblue;
						background: $white;

						>a{
							display: block;
							font-size: get_em(18px,16px);
							padding: get_em(36px,18px) get_em(54px,18px) get_em(40px,18px);
							position: relative;
							z-index: 45;
							text-decoration: none;
							color: $blue;
							background: $white;
							transition: all .16s linear;
							white-space: nowrap;

							&:hover,
			        &:focus,
			        &:active,
			        &:active:focus {
								background: $blue;
								color: $white;
							}

							@media(max-width: 1380px){
								padding: get_em(36px,18px) get_em(35px,18px) get_em(40px,18px);
							}					
						}
						>a.go-back{
							display: none;
							visibility: hidden;
						}

						>.sub-menu-wrap{
							position: absolute;
							transition: all .16s linear;
							width: 100%;
							max-width: 100%;
							left: 0;
							right: 0;
							bottom: 0;
							transform: translate3d(0,100%,0);
							background: $darkblue;
							z-index: 46;
							border-top: 6px solid $blue;
							visibility: hidden;
							opacity: 0;

							>.sub-menu{
								@include thousand();
								max-width: 1110px;
								padding-top: get_em(65px,16px);
								padding-bottom: get_em(65px,16px);
								list-style: none;
								display: flex;
								align-items: flex-start;
								justify-content: flex-start;
								flex-wrap: wrap;

								>.menu-item{
									flex:0 0 33.3333%;
									display: inline-block;
									width: 33.3333%;
									margin:0 0 25px;
									padding: 0 10px;
									text-align: left;

									>a{
										color: $white;
										text-decoration: none;
									}
								}								
							}
						}

						&:hover{
							>.sub-menu-wrap{
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	/*Mobile for the TOP Menu */
	@media(max-width: 699px){
		>.upper-header{			
			>.primary-menu{
				flex:1 0 98px;
				display: inline-block;
				vertical-align: middle;
				text-align: right;				

				#mobile-active-two{
					font-size: 12px;
					display: inline-block;
					padding: get_em(15px,12px) get_em(20px,12px);
					text-transform: uppercase;
					letter-spacing: 1px;
					color: $white;
					text-decoration: none;
					cursor: pointer;
					font-weight: 600;
					transition: all .16s linear;

					>span{
						display: inline-block;
						vertical-align: middle;
						margin-right: 8px;
					}
					>.icon{
						font-size: get_em(16px,12px);
						display: inline-block;
						vertical-align: middle;

						>.fas.fa-angle-down{
							display: block;
							text-align: center;
							vertical-align: middle;
							transform: rotate3d(0,0,0,180deg);
							transition: all .16s linear;
						}
					}

					&.active{
						background: $blue;

						>.icon{
							>.fas.fa-angle-down{								
								transform: rotate3d(1,0,0,180deg);
							}
						}
					}
				}
				>ul.main-navigation{
					display: flex;
					list-style: none;
					flex-direction: column;
					align-items: flex-start;
					position: absolute;
					width: 100%;
					max-width: 100%;
					bottom: 0;
					left: 0;
					right: 0;
					background: $blue;
					transform: translate3d(0,100%,0);
					padding: 0;
					margin:0;
					height: 0;
					min-height: 0;
					overflow: hidden;

					.menu-item{
						display: block;
						width: 100%;

						>a{
							font-size: 16px;
							color: $white;
							text-decoration: none;
							outline: none;						
							text-align: left;
							display: block;
							position: relative;
							padding: 20px;

							&:hover{
								color:$darkblue;
							}
						}
						>.go-back{
							display: none;
							visibility: hidden;
						}
					}

					>.menu-item{
						order:2;
						>a{
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: 600;
						}							
						>.sub-menu-wrap{
							min-height: 100vh;
							background: $blue;
							display: block;
							width: 100%;
							max-width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							transition: all .16s linear;
							transform: translate(100%,100%);
							z-index: 10;
							visibility: hidden;								

							>.sub-menu{
								display: block;
								margin:0;
								padding: 0;

								>.menu-item{
									>a{
										transition: all .16s linear;
										padding-left: 67px;
										&:before{
											content:'';
											position: absolute;
											top: 26px;
											left: 20px;
											display: block;
											width: 20px;
											height: 2px;
											background: $white;
											vertical-align: middle;
											margin-right: 12px;
											transition: all .16s linear;
										}

										&:hover{
											&:before{
												background: $darkblue;
											}
										}
									}
								}
							}									
						}
						&.menu-item-has-children{
							position: relative;
							>a{
								padding-right: 40px;
								&:after{
									font-family:$fontAwesome;
									font-weight: bold;
									content:"\f105";
									font-size: 18px;
									display: inline-block;
									position: absolute;
									top: 50%;
									right: 20px;
									transform: translate(0,-50%);
								}
							}
						}

						&.active{
							order:1;
							display: flex;
							flex-direction: column;

							>a:not(.go-back){
								order:2;
								&:after{
									display:none;
								}
							}
							>a.go-back{
								order:1;
								display: block;
								visibility: visible;
								padding: 20px 20px 20px 40px;

								&:after{
									display:none;
									visibility: hidden;
								}
								&:before{
									content:"\f104";
									font-family:$fontAwesome;
									font-weight: bold;
									font-size: 18px;
									display: inline-block;
									position: absolute;
									top: 50%;
									left: 20px;
									transform: translate(0,-50%);
								}
							}
							>.sub-menu-wrap{
								order: 3;
								visibility: visible;
								transform: translate(0,100%);
							}	
						}
					}
					

					&.active{
						display: flex;
						min-height: 100vh;
					}
				}
			}
		}
	}

	/* Mobile for the BIG Menu */
	@media(max-width: 1159px){
		>.lower-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 4;

			#site-root{
				display: block;
				flex:1 0 185px;
				padding: 25px 20px;
				overflow: hidden;
				max-width: 225px;

				>img{
					width: 100%;
					max-width: 100%;
					height: auto;
					vertical-align: middle;
					display: block;
					margin:0;
				}
			}
			>.primary-menu{
				flex:1 0 103px;
				display: inline-block;
				vertical-align: middle;
				text-align: right;				

				#mobile-active{
					font-size: 18px;
					display: inline-block;
					padding: get_em(15px,18px) get_em(20px,18px) get_em(15px,18px) 0;
					color: $blue;
					text-decoration: none;
					cursor: pointer;
					transition: all .16s linear;

					>span{
						display: inline-block;
						vertical-align: middle;
						margin-right: 12px;
					}
					>.icon{					
						display: inline-block;
						vertical-align: middle;
						width: 23px;
						height: 20px;
						overflow: hidden;

						>.fas{							
							transition: all .16s linear;

							&.fa-bars{
								font-size: 18px;
							}
							&.fa-times{
								font-size: 0;
							}
						}
					}

					&.active{						

						>.icon{
							>.fas{
								&.fa-bars{
									font-size: 0;
								}
								&.fa-times{
									font-size: 18px;
								}
							}
						}
					}
				}
				>ul.main-navigation{
					display: flex;
					list-style: none;
					flex-direction: column;
					align-items: flex-start;
					position: absolute;
					width: 100%;
					max-width: 100%;
					bottom: 0;
					left: 0;
					right: 0;
					background: $darkblue;
					transform: translate3d(0,100%,0);
					padding: 0;
					margin:0;
					height: 0;
					min-height: 0;
					overflow: hidden;

					.menu-item{
						display: block;
						width: 100%;

						>a{
							font-size: 16px;
							color: $white;
							text-decoration: none;
							outline: none;						
							text-align: left;
							display: block;
							position: relative;
							padding: 20px;

							&:hover{
								color:$lightblue;
							}
						}
						>.go-back{
							display: none;
							visibility: hidden;
						}
					}

					>.menu-item{
						order:2;
						>a{
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: 600;
						}							
						>.sub-menu-wrap{
							min-height: 100vh;
							background: $darkblue;
							display: block;
							width: 100%;
							max-width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							transition: all .16s linear;
							transform: translate(100%,100%);
							z-index: 10;
							visibility: hidden;								

							>.sub-menu{
								display: block;
								margin:0;
								padding: 0;

								>.menu-item{
									>a{
										transition: all .16s linear;
										padding-left: 67px;
										&:before{
											content:'';
											position: absolute;
											top: 26px;
											left: 20px;
											display: block;
											width: 20px;
											height: 2px;
											background: $white;
											vertical-align: middle;
											margin-right: 12px;
											transition: all .16s linear;
										}

										&:hover{
											&:before{
												background: $lightblue
											}
										}
									}
								}
							}									
						}
						&.menu-item-has-children{
							position: relative;
							>a{
								padding-right: 40px;
								&:after{
									font-family:$fontAwesome;
									font-weight: bold;
									content:"\f105";
									font-size: 18px;
									display: inline-block;
									position: absolute;
									top: 50%;
									right: 20px;
									transform: translate(0,-50%);
								}
							}
						}

						&.active{
							order:1;
							display: flex;
							flex-direction: column;

							>a:not(.go-back){
								order:2;
								&:after{
									display:none;
								}
							}
							>a.go-back{
								order:1;
								display: block;
								visibility: visible;
								padding: 20px 20px 20px 40px;

								&:after{
									display:none;
									visibility: hidden;
								}
								&:before{
									content:"\f104";
									font-family:$fontAwesome;
									font-weight: bold;
									font-size: 18px;
									display: inline-block;
									position: absolute;
									top: 50%;
									left: 20px;
									transform: translate(0,-50%);
								}
							}
							>.sub-menu-wrap{
								order: 3;
								visibility: visible;
								transform: translate(0,100%);
							}	
						}
					}
					

					&.active{
						display: flex;
						min-height: 100vh;
					}
				}
			}
		}
	}	
}