@use "sass:math";

$fa-font-path: "../webfonts";

$white: #ffffff;
$black: #000000;
$lightblue: #6cbbe8;
$blue:#328cc1;
$darkblue: #002e5b;
$lightgrey:#f2f2f2;
$grey: #d4d4d4;
$darkgrey: #6b6c72;
$red: #780000;
$orange: #f38f08;
$green: #6cc551;

$openSans: 'Open Sans', sans-serif;
$serif: 'PT Serif', serif;
$fontAwesome: 'Font Awesome 5 Free';

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
}
h1,h2,h3,h4,h5,h6,p,span{
	cursor: default;
}
a,
a > i.fa{
	cursor: pointer!important;
}
a{
	h1,h2,h3,h4,h5,h6,p,i,div,span{
		cursor: pointer;
	}
}

html,body{
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	position: relative;
	font-family: $openSans;
	min-height: 100vh;
	color: $black;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	opacity: 0;
	animation: fade_in .5s linear forwards;
}

@function get_em($px, $base){
	@return math.div($px, $base) * 1em;
}
@mixin site_width(){
	width: 100%;
	max-width: 830px;
	padding-left:15px;
	padding-right:15px;
	margin: 0 auto;
}
@mixin thousand(){
	width: 100%;
	max-width: 1030px;
	padding-left:15px;
	padding-right:15px;
	margin: 0 auto;
}
@mixin header_width(){
	width: 100%;
	max-width: 1290px;
	padding-left:25px;
	padding-right:25px;
	margin:0 auto;
}
@mixin colorPlaceholder($color){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color!important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color!important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color!important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color!important;
	}
}
@mixin gravity_reset(){
	margin:0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	min-height: 0;
	line-height: 1em;
}