main.main-page-wrapper.default-page{
	display: block;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	margin:0;
	padding: 0;
	
	.flex {
		display: flex;
		
		&.align-items-center {
			align-items: center;
		}
		
		&.justify-content-center {
			justify-content: center;
		} 
	}
	
	.cols-50 {
		> * {
			width: 50%;
		}
	}

	>.page-header-section{
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 300px;
		background: -webkit-linear-gradient(left, $darkblue 0%,$blue 100%);

		>.inset{
			@include thousand();
			color: $white;
			padding-top: get_em(100px,16px);
			padding-bottom: get_em(100px,16px);

			>.breadcrumbs{
				display: block;
				width: 100%;
				max-width: 100%;
				padding: 0 0 get_em(25px,16px);

				>p{
					display: inline-block;
					font-size: 14px;
					line-height: get_em(19px,14px);
					color: $white;
					font-weight: bold;
					letter-spacing: 2px;
					text-transform: uppercase;
					margin:0;
					text-align: left;
					vertical-align: middle;
					padding: 0 0 4px;
					border-bottom: 2px solid $lightblue;

					>a{
						text-decoration: none;
						cursor: pointer;
						color: inherit;
						transition: all .16s linear;

						&:hover{
							color:$lightblue;
						}
					}
					>i.fas{
						margin:0 20px;

						&:last-child{
							margin-right:0;
						}
					}
				}
			}

			>h1{
				font-family: $openSans;
				margin:0;
				font-size: get_em(36px,16px);
				line-height: get_em(49px,36px);
				color: $white;
				font-weight: 300;
				letter-spacing: 1px;
                padding-top: 40px;
			}
		}

		&.center{
			>.inset{
				>.breadcrumbs{
					text-align: center;
				}
				>h1{
					text-align: center;
				}
			}
		}
		&.w-image{
			>.inset{
				padding-bottom: get_em(200px,16px);
			}

			@media(max-width: 800px){
				>.inset{
					padding-bottom: get_em(120px,16px);
				}
			}
		}
	}
	>.featured-image-wrapper-container{
		display: block;
		width: 100%;
		max-width: 840px;
		position: relative;
		margin:-100px auto 0;
		z-index: 3;

		>.featured-image-wrapper{
			display: block;
			width: 100%;
			max-width: 100%;
			margin:0 auto;
			position: relative;
			padding: 0 20px;

			>.featured-image{
				display: block;
				width: 100%;
				max-width: 100%;
				height: 0;
				padding-top: 66.625%;
				box-shadow: 0px 40px 50px -25px transparentize($lightblue,.5);
			}
			>.featured-video{
				display: block;
				width: 100%;
				max-width: 100%;
				height: 0;
				padding-top: 56%;
				box-shadow: 0px 40px 50px -25px transparentize($lightblue,.5);
				outline: none;
				text-decoration: none;
				position: relative;

				&:before{
					content:'';
					position:absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					background: transparentize($black,.85);
					transition: all .16s linear;
				}
				&:after{
					content:'';
					display: block;
					width: 78px;
					height: 78px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 3;
					opacity: .5;
					background: url('../img/play-arrow-circle.png')no-repeat;
					background-size: 78px 78px;
					background-position: center center;
					transition: all .16s linear;
				}
				&:hover{
					&:before{
						background:transparent;
					}
					&:after{
						opacity: 1;
					}
				}
			}
		}

		@media(max-width: 800px){
			margin:-60px auto 0;
		}
	}
	>.blog-page-menu-system{
		display: none;
	}
	>.share-options-bar{
		@include thousand();
		margin-top: get_em(100px,16px);

		>.social-sharing{
			padding: 0 0 6px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2px solid $lightblue;

			>span{
				font-family: $openSans;
				font-weight: bold;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: inline-block;
				text-align: left;
				font-size: 14px;
				color: $blue;
			}
			>.share-links{
				display: inline-block;
				text-align: right;

				>a{
					display: inline-block;
					font-size: 16px;
					text-decoration: none;
					cursor: pointer;
					color: $lightblue;
					margin:0 9px;
					transition: all .16s linear;

					&:last-of-type{
						margin-right:0;
					}

					&:hover{
						color: $blue;
					}
				}
			}
		}		
	}
	>.theme-slider-outer-wrapper{
		display: block;
		width: 100%;
		max-width: 100%;
		margin:get_em(100px,16px) 0;

		>.slider-title{
			@include thousand();
			padding-bottom: get_em(50px,16px);

			>h3{
				display: inline-block;
				margin:0;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				color: $blue;
				letter-spacing: 2px;
				padding: 0 0 4px;
				border-bottom: 2px solid $blue;
			}
		}
		>.theme-slider-slide-container{
			>.slick-list{
				>.slick-track{
					>.image-wrapper{
						padding:0 40px;
						height: 100px;
						outline: none;

						>img{
							max-width: 100%;
							max-height: 100%;
							width: auto;
							height: auto;
							vertical-align: middle;
							display: block;
							margin:0 auto;
						}
					}
				}
			}
		}		
	}
	>.single-event-page-header{
		display: block;
		width:100%;
		max-width: 100%;
		position: relative;
		z-index: 5;
		margin-top: get_em(-140px,16px);

		@import '../partials/event-card';


	}
	@import 'video-section';
	@import 'from-the-blog';
	@import 'video-page';
	@import 'success-landing';

	>.page-content-wrapper{
		@include thousand();
		margin-top: get_em(60px,16px);
		margin-bottom: get_em(100px,16px);
		display: flex;		
		overflow: hidden;
		position: relative;
		z-index: 2;

		>.the-content{
			display: block;
			width: 100%;
			max-width: 700px;
			flex:0 1 700px;
			padding-right: 50px;

			@import 'blog-page';		

			>.subtext{
				font-size: get_em(24px,16px);
				line-height: get_em(36px,24px);
				letter-spacing: 1px;
				margin:0 0 get_em(50px,24px);
				position: relative;
				padding: 0 0 27px;
				color: $blue;

				>p{
					display: block;
					position: relative;				
				}

				>:first-child{
					margin-top: 0;
				}
				>:last-child{
					margin-bottom: 0;
				}

				&:after{
					content:'';
					display: block;
					width: 60px;
					position: absolute;
					bottom: 0;
					left: 0;
					background: $blue;
					height: 2px;
				}
			}

			@import '../partials/wsywig';

			>.wsywig-content{
				margin:0 auto get_em(100px,16px) 0;
			}

			>.meet-the-doctor{
				display: block;
				width: 100%;
				max-width: 100%;
				margin:get_em(135px,16px) 0 get_em(100px,16px);

				>.content-wrapper{
					box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
					padding: 0 25px 25px;
					background: $white;

					>.title-bar{
						display: block;
						text-align: left;
						margin:0 0 23px;

						>.image-wrapper{
							display: inline-block;
							width: 75px;
							height: 75px;
							border:4px solid $lightblue;
							border-radius: 50%;
							overflow: hidden;
							margin-top: -35px;

							>img{
								width: 100%;
								max-width: 100%;
								height: 100%;
								max-height: 100%;
								vertical-align: middle;
								display: block;
								margin:0;
							}
						}
						>span{
							font-size: get_em(18px,16px);
							color: $lightblue;
							font-weight: 600;
							padding-left: 12px;
						}
					}

					@import '../partials/wsywig';
					>.wsywig-content{
						color: $darkblue;
						line-height: get_em(28px,16px);
					}
				}
				>.link-wrapper{
					margin:get_em(35px,16px) 0 0;
					text-align: right;
					display: block;

					>a{
						display: inline-block;
						color: $blue;
						font-size: 14px;
						font-weight: 600;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 2px;

						>span{
							vertical-align: middle;
						}
					}
				}
			}
			>.pagination-wrapper{
				display: block;				

				>.pagination{
					display: inline-block;
					border-bottom: 2px solid $lightblue;

					>.page-numbers{
						font-family: $openSans;
						font-size: 14px;
						font-weight: bold;
						letter-spacing: 2px;
						text-transform: uppercase;
						text-decoration: none;
						display: inline-block;
						margin:0 6px;
						color: $darkgrey;
						transition: all .16s linear;

						&.current{
							color: $lightblue;
						}

						&:first-child{
							margin-left: 0;
						}
						&:last-child{
							margin-right: 0;
						}

						&:hover{
							color: $lightblue;
						}
					}
				}
			}
			>:last-child{
				margin-bottom: 0;
			}
		}
		&.home{
			>.the-content{
				width: 100%;
				max-width: 100%;
				padding: 0;
				flex:0 0 100%;

				>.in-page-cta{
					display: block;
					width: 100%;
					max-width: 100%;
					margin: get_em(100px,16px) 0;

					>a{
						display: block;
						width: 100%;
						max-width: 100%;
						background: $darkblue;
						text-decoration: none;
						cursor: pointer;
						position: relative;
						z-index: 1;
						overflow: hidden;
						box-shadow: 0px 40px 50px -25px transparentize($lightblue,.5);

						>.inset{
							padding: get_em(50px,16px) get_em(120px,16px) get_em(50px,16px) get_em(50px,16px);

							>h2{
								margin:0;
								font-size: get_em(24px,16px);
								line-height: get_em(36px,24px);
								color: $white;
								font-weight: normal;
								letter-spacing: 1px;
							}
							>.insert{
								display: block;
								padding: 12px 0 0;

								>h4{
									font-size: get_em(16px,16px);
									line-height: get_em(22px,16px);
									letter-spacing: 1px;
									color: $lightblue;
									font-weight: 600;
									margin:0;
								}
								>i.arrow{
									display: block;
									width: 43px;
									height: 16px;
									background:url('../img/arrow-light-blue.png')no-repeat;
									background-size: 43px 16px;
									background-position: center center;
									margin:get_em(35px,16px) 0 0;
								}							
							}
						}

						@media(max-width: 668px){
							>.inset{
								padding: get_em(50px,16px) get_em(20px,16px);
							}
							>.blue-tab{
								display: block;
								content:'';
								background: $lightblue;
								width: 200px;
								height: 200px;
								position: absolute;
								bottom: 40px;
								right: 0;
								transform-origin: center;
								transform: rotate(45deg) translate(100%,0%);
							}
						}
						@media(min-width: 669px){
							>.inset{
								>.insert{
									>i.arrow{
										position: absolute;
										z-index: 4;
										right: 25px;
										bottom: 30px;								
										background: url('../img/arrow-white.png')no-repeat;
										background-size: 43px 16px;
										background-position: center center;
									}
								}
							}
							>.blue-tab{
								display: block;
								height: 100%;
								width: 100%;					
								content:'';
								background: $lightblue;						
								position: absolute;
								right: 0;
								bottom: 0;
								transform-origin: top right;
								transform: rotate(-46deg);
							}								
						}
					}
				}
			}
		}

		@media(max-width: 768px){
			display:block;
			>.the-content{
				flex:0 0 100%;
				width: 100%;
				max-width: 100%;
				padding: 0;
				margin:0 0 get_em(100px,16px);
			}
		}
		@import '../partials/side-bar';
		@import 'conditions-landing';
	}
	>.events-landing-page-form-wrapper{
		margin:get_em(100px,16px) auto 0;

		>.inset{
			@include thousand();

			>.gform_wrapper{
				@include gravity_reset();
				box-shadow: 0px 0px 10px rgba(0,0,0,0.08),
							0px 40px 50px -25px transparentize($lightblue,.5);
				padding: 50px 0 0;
				border-top: 10px solid $lightblue;
				font-family: $openSans;

				>form{
					@include gravity_reset();	

					>.validation_error{
						background: $red;
						border:none!important;
						color: $white;
						text-align: center;
						box-shadow: none!important;
						margin:0 auto;
					}				

					>.gform_heading,
					>.gform_body,
					>.gform_footer{
						@include gravity_reset();
					}

					>.gform_heading{
						width: 100%;
						max-width: 850px;
						margin:0 auto;
						padding: 0 25px 35px;
						>.gform_title{
							@include gravity_reset();
							font-size: get_em(20px,16px);
							line-height: get_em(27px,20px);
							font-family: $openSans;
							font-weight: 600;
							text-align: center;
							color: $blue;
							letter-spacing: 4px!important;
							text-transform: uppercase;
							padding: 0 0 16px;
							position: relative;

							&:after{
								content:'';
								display: block;
								width: 50px;
								height: 2px;
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translate(-50%,0);
								background: $lightblue;
							}
						}
						>.gform_description{
							@include gravity_reset();
							margin:14px auto 0;
							font-size: get_em(14px,16px);
							line-height: get_em(24px,14px);
							text-align: center;
							color: $darkblue;
						}
					}

					>.gform_body{						
						@include gravity_reset();
						max-width: 800px;
						margin:0 auto;
						padding-top: get_em(35px,16px);						

						>.gform_fields{
							display: block;
							width: 50%;
							max-width: 50%;
							padding: 0;
							@media(min-width: 769px){
								margin-bottom: get_em(-25px,16px)!important;
							}

							&:first-of-type{
								padding-right:25px;
							}
							&:last-of-type{
								padding-left: 25px;
							}

							>.gfield{
								@include gravity_reset();
								margin:0 0 get_em(25px,16px);
								position: relative;

								>.gfield_label{
									color: $lightblue;
									font-weight: 600;
									display: inline-block;
									position: absolute;
									transform: translate(0%,-50%);
									padding: 0 get_em(11px,16px);
									opacity: .25;
									top: 50%;
									left: 20px;
									background: $white;
									transition: all .16s linear;
									-webkit-appearance: none;
									box-shadow: none;

									>.gfield_required{
										display: none;
									}
								}
								>.ginput_container{
									@include gravity_reset();

									>input[type='text'],
									>textarea{
										font-family: $openSans;
										font-size: 14px;
										padding: get_em(13px,14px) get_em(25px,14px);
										border-radius: 0!important;
										background: transparent;
										color: $lightblue;
										border:2px solid transparentize($blue,.75);
										appearance:none;
										outline: none;
										@include colorPlaceholder( transparentize($blue,.75));
										transition: all .16s linear;
									}
									>input[type='text']{
										line-height: 1em!important;
									}
									>textarea{
										line-height: 1.35em!important;

										&.small{
											height: 86px;
										}
									}									
								}
								&.active{
									>.ginput_container{
										>input[type='text']{
											border:2px solid $lightblue;
										}
									}
									>.gfield_label{
										opacity: 1;
										left: 10%;
										top: 0;
										transform: translate(0%,-50%);
										color: $blue;
									}
								}
								>.gfield_description.validation_message{
									display: none;
									visibility: hidden;
								}
								&.gfield_error{
									max-width: 100%!important;
									margin:0 0 get_em(25px,16px)!important;
									border:none!important;
									background: transparent!important;

									>.gfield_label{
										margin:0!important;
									}

									>.ginput_container{
										>input[type='text'],
										>textarea{
											border-color: $red;
										}
									}					
								}
							}							
						}
					}
					>.gform_footer{
						padding: get_em(75px,16px) 0 0;

						>input[type='submit']{
							display: block;
							width: 100%;
							max-width: 100%;
							line-height: 1em!important;
							min-height: 0!important;
							appearance:none;
							border:none;
							background: $lightblue;
							color: $white;
							font-size: 16px;
							letter-spacing: .9px;
							cursor: pointer;
							padding: get_em(20px,16px) 0;
							transition: all .16s linear;

							&:hover{
								background:$blue;
							}
						}
					}
					@media(max-width: 768px){
						>.gform_body{
							>.gform_fields{
								width: 100%;
								max-width: 100%;

								&:first-of-type,
								&:last-of-type{
									padding:0;
								}
							}
						}
						>.gform_footer{
							text-align: center;
							padding-top: get_em(25px,16px);

							>input[type='submit']{
								display: block;
								width: 100%;
								max-width: 100%;
							}
						}
					}
				}
			}
		}
		>.blue-bar{
			display: block;
			width: 100%;
			max-width: 100%;
			margin:0;
			height: 10px;
			background: -webkit-linear-gradient(left, $darkblue 0%,$blue 100%);
			margin:get_em(100px,16px) 0 0;
		}
	}	
}

.blue-arrow{
	vertical-align: middle;
	display: inline-block;
	width: 42px;
	height: 16px;
	background: url('../img/arrow-light-blue.png')no-repeat;
	background-size: 42px 16px;
	background-position: center center;
	margin-left: 25px;
}
