>.conditions-landing{
	margin:0 0 -25px;
	>.full-width-subtext{
		font-size: get_em(24px,16px);
		line-height: get_em(36px,24px);
		letter-spacing: 1px;
		margin:0 0 get_em(50px,24px);
		position: relative;
		padding: 0 0 27px;
		color: $blue;

		>p{
			display: block;
			position: relative;				
		}

		>:first-child{
			margin-top: 0;
		}
		>:last-child{
			margin-bottom: 0;
		}

		&:after{
			content:'';
			display: block;
			width: 60px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $blue;
			height: 2px;
		}
	}
	@import 'events-landing';
	>.conditions-card-wrapper{
		display: block;
		width: 100%;
		max-width: 100%;			

		>.insert{
			text-align: left;
			vertical-align: top;
			margin:0 -13px;

			>.condition-card{
				display: inline-block;
				width: 33.33333%;
				padding: 0 13px;
				text-align: left;
				vertical-align: top;

				>a{
					display: block;
					width: 100%;
					max-width: 100%;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
					border-bottom: 8px solid transparent;
					box-shadow: 0px 12px 20px rgba(0,0,0,0);
					padding: 35px 20px 25px;
					text-decoration: none;
					cursor: pointer;
					transition: all .16s linear;

					>.card-title{
						margin:0 0 27px;
						>h3{
							color: $darkblue;
							font-size: 20px;
							letter-spacing: 1px;
							font-weight: 600;
							margin:0;
							text-align: left;
							padding: 0 0 6px;
							border-bottom: 2px solid $lightblue;
						}
					}
					>.card-content{
						display: block;
						width: 100%;
						max-width: 100%;
						margin:0 0 25px;
						color: $grey;
						transition: all .16s linear;
						font-size: 1em;
						line-height: get_em(28px,16px);

						>:first-child{
							margin-top: 0;						
						}
						>:last-child{
							margin-bottom: 0;
						}
					}
					>.card-arrow{
						text-align: right;
						display: block;
						opacity: 0;
						transition: all .16s linear;

						>i.blue-arrow{
							display: inline-block;
							width: 42px;
							height: 16px;
							background: url('../img/arrow-light-blue.png')no-repeat;
							background-size: 42px 16px;
							background-position: center center;
						}
					}
					/* arrow-light-blue.png */


					&:hover{
						box-shadow: 0px 12px 20px rgba(0,0,0,0.08);
						border-color: $lightblue;
						>.card-content{
							color: $darkgrey;
						}
						>.card-arrow{
							opacity: 1;
						}
					}
				}

				@media(max-width: 980px){
					width:50%;
				}
				@media(max-width: 768px){
					width:100%;

					>a{
						box-shadow: 0px 12px 20px rgba(0,0,0,0.08);
						border-color: $lightblue;
						>.card-content{
							color: $darkgrey;
						}
						>.card-arrow{
							opacity: 1;
						}
					}
				}
			}
		}
		>.pagination-wrapper{
			display: block;
			padding: get_em(50px,16px) 0 0;

			>.pagination{
				display: inline-block;
				border-bottom: 2px solid $lightblue;

				>.page-numbers{
					font-family: $openSans;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 2px;
					text-transform: uppercase;
					text-decoration: none;
					display: inline-block;
					margin:0 6px;
					color: $darkgrey;
					transition: all .16s linear;

					&.current{
						color: $lightblue;
					}

					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}

					&:hover{
						color: $lightblue;
					}
				}
			}
		}
	}
}