>.from-the-blog{
	@include thousand();
	margin:get_em(100px,16px) auto;
	position: relative;
	z-index: 1;
	background: $white;

	>.section-title{
		display: block;
		width: 100%;
		max-width: 100%;
		margin:0 0 get_em(25px,16px);

		>h2{
			font-size: get_em(14px,16px);
			line-height: get_em(19px,14px);
			padding: 0 0 6px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $grey;
			margin:0;
			border-bottom: 2px solid $lightgrey;
		}
	}
	>.dual-post{
		margin:get_em(60px,16px) 0 0;
		display: block;
		width: 100%;
		max-width: 100%;

		>.insert{
			margin:0 -25px;

			@import '../partials/single-blog-post';
			
			>article.single-blog-post{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 0 25px;
			}
		}

		@media(max-width: 850px){
			margin:get_em(60px,16px) -25px 0;
			width: calc( 100% + 50px );
			max-width: calc( 100% + 50px );
			>.insert{
				margin:0 0 -25px;

				>article.single-blog-post{
					display: block;
					width: 100%;
					max-width: 100%;
					max-width: 100%;
					padding:0 0 25px;
				}
			}			
		}
	}
	>.link-wrapper{
		margin:get_em(25px,16px) 0 0;
		text-align: right;
		display: block;

		>a{
			display: inline-block;
			color: $blue;
			font-size: 14px;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;

			>span{
				vertical-align: middle;
			}
			>i.blue-arrow{
				vertical-align: middle;
				display: inline-block;
				width: 42px;
				height: 16px;
				background: url('../img/arrow-light-blue.png')no-repeat;
				background-size: 42px 16px;
				background-position: center center;
				margin-left: 25px;
			}
		}

		@media(max-width: 850px){
			text-align:center;
		}
	}
}
