main.main-page-wrapper.default-page{
	display: block;
	width: 100%;
	max-width: 100%;

	>section.home-hero{
		display: flex;
		align-items: center;
		padding: 10vh 0;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 1;
		
		@media(min-width: 1200px) {
			height: 80vh;
		}

		>.video-wrapper{
			display: block;
			width: 100%;
			min-width: 1100px;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			transform: translate(-50%,0);
			bottom: 0;

			&:after{
				content:'';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to right, transparentize($black,.1) 0%,transparentize($black,1) 100%);
			}
		}
		>.get-started-link-wrapper{
			position: relative;
			width: 100%;
			max-width: 100%;
			padding: 50px 25px 0 0;
			z-index: 4;
			text-align: right;
			margin:0 0 -25px;

			>a.get-started-sticker{
				font-size: 16px;
				display: inline-block;
				width: get_em(125px,16px);
				height: get_em(125px,16px);
				background: $orange;
				color: $white;
				border-radius: 50%;				
				text-decoration: none;
				box-shadow: 0px 2px 20px rgba(0,0,0,0.25);

				>.inset{
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					height: 100%;
					overflow: hidden;
					border-radius: 50%;

					>p{
						margin:0 auto;
						text-align: center;
						font-size: get_em(14px,16px);
						line-height: get_em(19px,14px);
						font-weight: bold;
						letter-spacing: 2px;
						text-transform: uppercase;
					}
					>.white-arrow{
						display: block;
						margin:get_em(15px,16px) auto 0;
						width: 43px;
						height: 16px;
						background: url(../img/arrow-white.png)no-repeat;
						background-size: 43px 16px;
						background-position: center center;
					}
				}
			}

			@media(max-width: 1100px){
				padding:20px 20px 0 0;

				>a.get-started-sticker{
					font-size:14px;
				}
			}
			@media(max-width: 1000px){
				margin:0 0 35px;
			}
			@media(max-width: 700px){
				>a.get-started-sticker{
					font-size:13px;
				}
			}
		}
		>.home-hero-content{
			@include thousand();
			position: relative;
			z-index: 3;
			color: $white;
			text-align: center;
			font-family: $openSans;

			h1{
				font-size: 15vmin;
				line-height: get_em(78px,64px);
				font-weight: 300;
				color: $lightblue;
				margin:0 0 7px;
				text-transform: uppercase;
				letter-spacing: 6px;
				
				@media(min-width: 880px){
					font-size: get_em(72px,16px);
				}
			}
			h3{
				font-family: $serif;
				font-style: italic;
				font-weight: 300;
				letter-spacing: 0.25em;
				line-height: get_em(33px,24px);
				margin:0;
				
				@media(min-width: 880px){
					font-size: get_em(24px,16px);
					letter-spacing: 0.35em;
				}
			}
			.duo-links{
				margin-top: 2rem;
			}
		}
	}
	
	.col-ctas {
		flex-direction: column;
    
    @media(min-width: 1000px) {
      flex-direction: row;
    }
		
		> *:first-child {
			@media(min-width: 1000px) {
				width: 40%;
			}
		}
		
		> *:last-child {
			@media(min-width: 1000px) {
				width: 60%;
			}
		}
	}
	
	.event-card-wrapper {
		position: relative;
		height: 100%;
		background-color: $lightgrey;
		
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2rem;
			background-color: rgba(0,0,0,0.05);
		}
		
		> * {
			display: block;
			position: relative;
			height: 100%;
		}
		
		a {
			color: $blue;
			text-decoration: none;
			transition: 0.27s color ease-in-out, 0.27s background ease-in-out;
			
			&:hover,
	    &:focus,
	    &:active,
	    &:active:focus {
	      color: $darkblue;
	      background-color: lighten($lightblue, 25%);
				
				.date-ticker {
					background-color: $darkblue;
				}
	    }
		}
		
		.date-ticker {
			position: absolute;
			top: 1rem;
			left: 1rem;
			padding: 0.3rem 1rem;
			text-align: center;
			border-radius: 0.5rem;
			background-color: $blue;
			transition: 0.27s background ease-in-out;
			
			p {
				margin: 0;
			}
			
			.day {
				display: block;
				color: $white;
				font-size: 2em;
			}
			
			.month {
				color: $lightblue;
				text-transform: uppercase;
			}
		}
		
		.inset {
			display: flex;
	    flex-direction: column;
			height: 100%;
	    
	    @media(min-width: 1000px) {
	      flex-direction: row;
	    }
		}
		
		.image-side {
			width: 100%;
			height: 12rem;
			
			@media(min-width: 1000px) {
				height: 100%;
				width: 50%;
			}
		}
		
		.image-wrapper,
		.image {
			width: 100%;
			height: 12rem;
			
			@media(min-width: 1000px) {
				height: 100%;
			}
		}
		
		.content-side {
			padding: 2rem 2rem 4rem;
			
			.inset {
				flex-direction: column;
			}
		}
		
		p.sub-text {
			margin: 0 0 0.5rem 0;
			font-size: 0.8em;
			text-transform: uppercase;
		}
		
		h3 {
			position: relative;
      margin: 0 0 2rem 0;
      
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        width: 15%;
        height: 2px;
        background-color: $green;
      }
		}
		
		.content-down {
			font-size: .9em;
			line-height: 1.5;
		}
	}
	
	.testimonials-slider {
		.slider-container {
			padding: 4rem 0;
		}
		
		.fa-play-circle {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 4em;
		}
		
		.slick-arrow {
			z-index: 2;
			top: 100%;
			left: 15px;
			height: 52px;
			width: 52px;
			
			@media(min-width: 1000px) {
				top: 50%;
				left: 23%;
			}
			
			&::before {
				font-size: 52px;
				color: $blue;
			}
			
			&.slick-next {
				left: auto;
				right: 15px;
				
				@media(min-width: 1000px) {
					right: 23%;
				}
			}
		}
		
		.slick-list {
			overflow: visible;
		}
		
		.slide {
			position: relative;
			opacity: 0.3;
			border-radius: 1rem;
			overflow: hidden;
			transition: 0.27s opacity ease-in-out, 0.27s transform ease-in-out;
			
			&.slick-active:not(.slick-current) {
				opacity: 0.3;
			}
			
			&.slick-current {
				z-index: 1;
				opacity: 1;
				transform: scale(1.3);
			}
		}
		
		.video-wrapper {
			background-color: $white;
			
			@media(min-width: 1000px) {
				height: 20rem;
			}
		}
		
		.video-thumbnail {
			display: block;	
			height: 0;
	    padding-top: 56.25%;
	    text-decoration: none;
	    text-align: center;
	    vertical-align: middle;
	    position: relative;
	    z-index: 1;
			background-size: cover;
	    background-position: center center;
	    background-repeat: no-repeat;
			
			&::after {
				content: "";
		    display: block;
		    width: 78px;
		    height: 78px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    z-index: 3;
		    opacity: .5;
		    background: url(../img/play-arrow-circle.png) no-repeat;
		    background-size: 78px 78px;
		    background-position: center center;
		    transition: all .16s linear;
			}
		}
	}
	
	>.page-bottom-content-wrapper{
		width: 100%;
		max-width: 1040px;
		padding: 0 20px;
		margin:100px auto 40px;

		@import '../partials/wsywig';
	}
}