>.video-list-out-wrapper{
	>.success-landing-subtext{
		font-size: get_em(24px,16px);
		line-height: get_em(36px,24px);
		letter-spacing: 1px;
		margin:0;
		position: relative;
		padding: get_em(100px,24px) 0 27px;
		color: $blue;

		>p{
			display: block;
			position: relative;				
		}

		>:first-child{
			margin-top: 0;
		}
		>:last-child{
			margin-bottom: 0;
		}

		&:after{
			content:'';
			display: block;
			width: 60px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $blue;
			height: 2px;
		}
	}
	>.success-stories-landing{
		display: block;
		text-align: right;
		padding: 0 0 40px;

		>.filter-form-wrapper{
			display: inline-block;
			>form{
				overflow: hidden;
				appearance:none;
				background: transparent;
				position: relative;
				overflow: hidden;
				cursor: pointer;		

				>select{
					display: block;
					width: 100%;
					max-width: 100%;
					appearance:none;
					background: transparent;
					border:none;
					font-size: 14px;
					color: $lightblue;
					font-weight: bold;
					letter-spacing: 2px;
					text-transform: uppercase;
					line-height: 1em;
					padding: 6px 20px 6px 0px;
					outline: none;
					border-bottom: 2px solid $lightblue;
					border-radius: 0!important;
					cursor: pointer;
					position: relative;
					z-index: 3;
				}
				>.fas{
					position: absolute;
					z-index: -1;
					color: $lightblue;
					font-size: 18px;
					text-align: center;
					top: 50%;
					right: 0;
					transform: translate(0,-50%);
					cursor: pointer;
				}
			}
		}
	}
}