>.featured-video-slider-outer-wrapper{
	background: linear-gradient(135deg, $darkblue 0%,$blue 100%);
	overflow: hidden;
	padding-top: get_em(60px,16px);
	padding-bottom: get_em(60px,16px);

	>.section-title{
		@include thousand();		
		text-align: left;

		>h2{
			display: inline-block;
			font-family: $openSans;
			font-size: get_em(14px,16px);
			line-height: get_em(19px,14px);
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: bold;
			color: $white;
			padding: 0 0 4px;
			border-bottom: 2px solid $blue;
			margin:0;
		}

		@media(max-width: 750px){
			text-align:center;
		}
	}
	>.featured-videos-slider{
		@include thousand();

		.video-card-wrapper{
			display: none;
		}
		>.slick-list{
			padding-bottom:2px;
			@media(max-width: 750px){
				padding: 35px 0 60px!important;
			}
			@media(min-width: 751px){
				padding:60px 0!important;
			}
			>.slick-track{
				display: flex;
				align-items: center;
				justify-content: center;

				@media(min-width: 750px){
					min-height: 480px;
				}

				>.video-card-wrapper{
					display: block;
					outline: none;
					cursor: default;
					overflow: hidden;
					margin:0 20px;
					width: 100%;
					max-width: 100%;				
					position: relative;
					z-index: -1;
					transition: all .16s linear;
					transform: translate3d(0,0,0);

					>.video-wrapper{
						position: relative;
						width: 100%;
						max-width: 100%;
						z-index: 1;
						border:2px solid transparent;
						border-radius: 4px;
						overflow: hidden;

						>a{
							display: block;
							width: 100%;
							max-width: 100%;
							cursor: pointer;
							text-decoration: none;
							position: relative;
							height: 0;
							padding-top: 56.0714285714286%;
						}
					}
					>.video-details{
						opacity: 0;
						padding: 0;
						transition: all .16s linear;

						>.video-top-details{
							display: flex;
							align-items: flex-start;
							padding:12px 0 35px;
							opacity: .5;

							>.categories{
								display: inline-block;

								>p{
									display: inline-block;
									margin:0;
									font-size: 14px;
									color: $white;
									font-weight: bold;
									letter-spacing: 2px;
									text-transform: uppercase;
									padding: 0 0 4px;
									border-bottom: 2px solid $lightblue;

									>span{
										&:last-of-type{
											>span{
												display:none;
												visibility: hidden;
											}
										}
									}
								}
							}
							>.video-extras{
								display: inline-block;
								margin:0 0 0 auto;
								color: $grey;
								font-size: 14px;
								font-weight: 600;

								>span{
									display: inline-block;
									margin-left: get_em(35px,14px);

									>i{
										margin-right: 10px;
									}
								}
							}

							@media(max-width: 550px){
								display:block;

								>.video-extras{
									display: block;
									padding: 12px 0 0;

									>span{
										margin:0 35px 0 0;
									}
								}
							}
						}
						>.video-title{
							margin:0;
							font-size: get_em(24px,16px);
							line-height: get_em(28px,24px);
							font-family: $openSans;
							font-weight: normal;
							color: $white;
						}
					}
				}

				@media(min-width: 750px){
					>.video-card-wrapper{
						max-width: 300px;
						opacity: .5;					

						&.slick-active{
							z-index: 1!important;

							&.slick-current{
								z-index: 10!important;
								max-width: 600px;
								margin:0 -118px;
								opacity: 1;

								>.video-wrapper{
									border-color: $lightblue;
								}
								>.video-details{
									opacity: 1;
								}

							}
						}							
					}
				}

				@media(max-width: 750px){
					>.video-card-wrapper{
						margin:0;
						>.video-wrapper{
							border-color: $lightblue;
						}
						>.video-details{
							opacity: 1;
						}
					}
				}
			}
		}
		>.slick-dots{
			display: flex;
			width: calc(100% - 30px);
			max-width: calc( 100% - 30px );
			bottom: 0;
			left: 0;
			right: 0;
			margin:0 auto;
			background: transparent;

			>li{
				display: block;
				flex:auto;
				height: auto;
				width: auto;
				margin:auto;
				padding: 5px 0;

				>button{
					width: 100%;
					height: 2px;
					background: $darkblue;
					transition: all .16s linear;
					outline: none;
					line-height: 0;
					font-size: 0;
					padding: 0;

					&:before{
						display:none;
					}
				}
				&.slick-active{
					>button{
						background: $lightblue;
					}
				}
			}
		}
	}

}
>.video-list-out-wrapper{
	width: 100%;
	max-width: 1100px;
	padding: 0 25px;
	margin:0 auto;

	>.section-title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: get_em(60px,16px) 0 get_em(32px,16px);

		>h3{
			color: $lightblue;
			font-size: get_em(36px,16px);
			line-height: get_em(49px,36px);
			font-weight: 300;
			margin:0;
			letter-spacing: 1px;
		}
		>.filter-form-wrapper{
			>form{
				overflow: hidden;
				appearance:none;
				background: transparent;
				position: relative;
				overflow: hidden;				

				>select{
					display: block;
					width: 100%;
					max-width: 100%;
					appearance:none;
					background: transparent;
					border:none;
					font-size: 14px;
					color: $blue;
					font-weight: bold;
					letter-spacing: 2px;
					text-transform: uppercase;
					line-height: 1em;
					padding: 6px 20px 6px 0px;
					outline: none;
					border-bottom: 2px solid $blue;
					border-radius: 0!important;
					cursor: pointer;
				}
				>.fas{
					position: absolute;
					color: $lightblue;
					font-size: 18px;
					text-align: center;
					top: 50%;
					right: 0;
					transform: translate(0,-50%);
					cursor: pointer;
				}
			}
		}

		@media(max-width: 500px){
			display:block;
			text-align:center;

			>h3{
				margin:0 auto get_em(20px,36px);
			}
			>.filter-form-wrapper{
				max-width: 280px;
				margin:0 auto;
			}
		}
	}

	>.inset{
		margin:0 -25px 25px;
		@import '../partials/video-card';
	}
	>.pagination-wrapper{
		display: block;
		padding: 0 0 get_em(100px,16px);

		>.pagination{
			display: inline-block;
			border-bottom: 2px solid $lightblue;

			>.page-numbers{
				font-family: $openSans;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				display: inline-block;
				margin:0 6px;
				color: $darkgrey;
				transition: all .16s linear;

				&.current{
					color: $lightblue;
				}

				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}

				&:hover{
					color: $lightblue;
				}
			}
		}
	}
}