.contact-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 3rem;
  padding: 8rem 0;
  color: $white;
  background-color: $blue;
  
  @media(min-width: 1000px) {
    flex-direction: row;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blue;
    background-image: url(../img/logo-symbol.png);
    background-position: 50% 40%;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.15;
  }
  
  > div {
    position: relative;
    z-index: 1;
    margin: 0 30px;
  }
  
  h2 {
    margin: 0 0 4rem 0;
    font-size: 7vmin;
    text-align: center;
    color: $white;
    font-weight: 700;
    
    @media(min-width: 1000px) {
      margin: 0;
      font-size: get_em(32px,16px);
      line-height: get_em(36px,24px);
    }
    
    em {
      display: inline-block;
      position: relative;
      top: 0.025em;
      color: $green;
      font-family: $serif;
      font-size: 1.4em;
      margin-right: 0.2em;
    }
  }
  
  i.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 16px;
    background:url('../img/arrow-white.png')no-repeat;
    background-size: 43px 16px;
    background-position: center center;
    margin-left: 0.5em;
  }
}