>.event-card-wrapper{
	width: 100%;
	max-width: 1000px;
	margin:0 auto get_em(50px,16px);

	>a{
		display: block;
		text-decoration: none;
		padding-left: 55px;
		position: relative;

		>.date-ticker{
			background: $lightblue;
			color: $white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0,-50%);
			z-index: 4;
			padding: get_em(13px,16px) get_em(20px,16px);

			>p{
				font-family: $openSans;
				text-align: center;
				margin:0 auto;

				&.day{
					font-size: get_em(58px,16px);
					line-height: 1em;
					letter-spacing: 2.42px;
					font-weight: 300;
					padding: 0 0 get_em(8px,58px);
					border-bottom: 1px solid $white;
				}
				&.month{
					padding: get_em(10px,30px) 0 0;
					font-size: get_em(30px,16px);
					line-height: 1em;
					letter-spacing: 1.25px;
					text-transform: uppercase;
				}
			}
		}

		>.inset{
			display: block;
			display: flex;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
			background: $white;

			>.image-side{
				width: 100%;
				max-width: 450px;
				flex:0 1 450px;

				>.image-wrapper{
					display: block;
					overflow: hidden;
					width: 100%;
					position: relative;
					z-index: 1;

					>.image{
						width: 100%;
						height: 0;
						padding-top: 70%;
						overflow: hidden;
						position: relative;
						z-index: 1;
					}

					&:before,
					&:after{
						content:'';
						display: block;
						position: absolute;
						opacity: 0;
						transition: all .16s linear;
					}

					&:before{
						width: 100%;
						height: 100%;
						z-index: 2;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						overflow: hidden;
						background: transparentize($darkblue,.1);
					}
					&:after{
						width: 43px;
						height: 16px;
						background: url('../img/arrow-white.png')no-repeat;
						background-size: 43px 16px;
						background-position: center center;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						z-index: 3;
					}
				}			
			}
			>.content-side{
				display: block;
				width: 100%;
				max-width: 500px;
				flex:1 0 150px;

				>.inset{
					padding: 25px;

					>.sub-text{
						font-size: get_em(14px,16px);
						color: $darkgrey;
						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 2px;
						margin:0 0 get_em(22px,14px);

						>span{
							display: inline-block;
							padding: 0 0 4px;
							border-bottom: 2px solid $blue;
						}
					}
					>h3{
						font-size: get_em(24px,16px);
						line-height:get_em(32px,24px);
						color: $darkblue;
						font-weight: normal;
						margin:get_em(24px,24px) 0 0;
						overflow: hidden;
					}
					>.content-down{						
						max-height: get_em(86px,16px);
						overflow: hidden;
						@import '../partials/wsywig';

						>.wsywig-content{
							color: $grey;
							font-weight: 600;
							font-size: get_em(14px,16px);
							line-height: get_em(19px,14px);
							margin:get_em(15px,14px) 0 0;
						}
					}
				}
			}
		}

		@media(max-width: 810px){
			padding:get_em(75px,16px) 0 0;

			>.date-ticker{
				left: 50%;
				top: 0;
				transform: translate(-50%,0%);
			}
			>.inset{
				display: block;

				>.image-side,
				>.content-side{
					display: block;
					width: 100%;
					max-width: 100%;
				}
				>.content-side{
					>.inset{
						>.content-down{
							margin:get_em(40px,16px) 0 0;
						}
					}
				}		
			}
		}

		&:hover{
			>.inset{
				>.image-side{
					>.image-wrapper{
						&:before,
						&:after{
							opacity:1;
						}
					}
				}
			}
		}
	}
}