body.home .schedule-cta {
  position: relative;  
  min-height: 15rem;
  text-align: center;
  color: $blue;
  background-color: $lightgrey;
  
  > * {
    height: 100%;
  }
  
  > .flex {
    flex-direction: column;
    
    @media(min-width: 1000px) {
      flex-direction: row;
    }
  }
  
  a {
    padding: 2rem;
    color: $blue;
    text-decoration: none;
    transition: 0.27s color ease-in-out, 0.27s background ease-in-out;
    
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      color: $darkblue;
      background-color: lighten($lightblue, 25%);
    }
  }
  
  i {
    width: 30%;
    color: $green;
    font-size: 5rem;
  }
  
  .content {
    width: 70%;
  }
}