@use "sass:math";

.home-intro-cta {
  padding: 5rem 0;
  color: $blue;
  
  .inset {
    text-align: center;
    padding: 0 30px;
    
    @media(min-width: 1000px) {
      padding: 0;
    }
  }
  
  header {
    i {
      color: $green;
      font-size: 4em;
    }
    
    h2 {
      display: inline-block;
      position: relative;
      margin: 4rem 0;
      font-weight: 900;
      
      em {
        $size: 4em;
        top: -0.5em;
        left: -0.3em;
        position: absolute;
        z-index: -1;
        font-size: $size;
        font-family: $serif;
        color: $lightblue;
        opacity: 0.5;
        
        @media(min-width: 1000px) {
          bottom: -0.3em;
          left: -0.4em;
        }
      }
    }
  }
  
  a {
    display: inline-block;
    color: #328cc1;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}