.home-featured-conditions {
  position: relative;
  padding: 5rem 30px;
  background-color: $blue;
  
  @media(min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blue;
    background-image: url(../img/logo-symbol.png);
    background-position: 50% 40%;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.15;
  }
  
  > * {
    position: relative;
    z-index: 1;
  }

  >.conditions-header-area{
    display: block;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin:0 auto 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: lighten($lightblue, 15%);
    
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 4rem;
      background-color: $green;
    }

    >h3{
      margin:0 auto;
      font-size: get_em(24px,16px);
      line-height: get_em(36px,24px);
      font-weight: 900;
      text-align: center;
      position: relative;
      padding: 0 0 get_em(27px,24px);

      &:after{
        content:'';
        display: block;
        width:60px;
        height: 2px;
        background: $blue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
      }
    }
  }

  >.insert{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    
    @media(min-width: 1000px) {
      flex-direction: row;
      padding: 0 15%;
    }
    
    >.condition-card{
      display: inline-block;
      width: 100%;
      text-align: left;
      vertical-align: top;
      
      @media(min-width: 768px) {
        width: 50%;
        padding: 0 13px;
      }

      >a{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 100%;
        border-bottom: 8px solid transparent;
        box-shadow: 0px 12px 20px rgba(0,0,0,0);
        padding: 35px 20px 50px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 1rem;
        transition: all .16s linear;

        >.card-title{
          margin:0 0 27px;
          color: $white;
          
          i {
            font-size: 2em;
            margin-bottom: 1rem;
          }
          
          >h3{
            color: $white;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 700;
            margin:0;
            text-align: left;
            padding: 0 0 6px;
          }
        }
        >.card-content{
          display: block;
          width: 100%;
          max-width: 100%;
          margin:0 0 25px;
          color: $white;
          transition: all .16s linear;
          font-size: 1em;
          line-height: get_em(28px,16px);

          >:first-child{
            margin-top: 0;						
          }
          >:last-child{
            margin-bottom: 0;
          }
        }
        >.card-arrow{
          position: absolute;
          right: 20px;
          bottom: 25px;
          text-align: right;
          display: block;
          opacity: 0;
          transition: all .16s linear;

          >i.blue-arrow{
            display: inline-block;
            width: 42px;
            height: 16px;
            background: url('../img/arrow-light-blue.png')no-repeat;
            background-size: 42px 16px;
            background-position: center center;
          }
        }
        /* arrow-light-blue.png */


        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          background-color: $white;
          box-shadow: 0px 12px 20px rgba($blue, 0.08);
          
          >.card-title,
          .card-title h3 {
            color: $darkblue;
          }
          
          >.card-content {
            color: $blue;
          }
          
          >.card-arrow {
            opacity: 1;
          }
        }
      }
    }
  }
  
  .link-wrapper{
    margin:get_em(25px,16px) 0 0;
    text-align: center;
    display: block;
    width: 100%;

    >a{
      display: inline-block;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;

      >span{
        vertical-align: middle;
      }
      >i.blue-arrow{
        vertical-align: middle;
        display: inline-block;
        width: 42px;
        height: 16px;
        background: url('../img/arrow-white.png')no-repeat;
        background-size: 42px 16px;
        background-position: center center;
        margin-left: 25px;
      }
    }

    @media(max-width: 768px){
      text-align:center;
    }
  }
}