>aside.site-sidebar{
	display: block;
	width: 100%;
	max-width: 300px;
	flex:0 0 300px;
	position: relative;
	z-index: 2;
	background: $white;

	>.side-bar-inset{		

		>.widget{
			&.gform_widget{
				@include gravity_reset();

				>.widget-title{
					display: none;
					visibility: hidden;
				}
				>.gform_wrapper{
					@include gravity_reset();
					box-shadow: 0px 0px 10px rgba(0,0,0,0.08),
								0px 40px 50px -25px transparentize($lightblue,.5);
					padding: 50px 0 0;
					border-top: 10px solid $lightblue;
					font-family: $openSans;

					>form{
						@include gravity_reset();					

						>.gform_heading,
						>.gform_body,
						>.gform_footer{
							@include gravity_reset();
						}

						>.gform_heading{
							padding: 0 25px 35px;
							>.gform_title{
								@include gravity_reset();
								font-size: get_em(20px,16px);
								line-height: get_em(27px,20px);
								font-family: $openSans;
								font-weight: 600;
								text-align: center;
								color: $lightblue;
								letter-spacing: 4px!important;
								padding: 0 0 16px;
								position: relative;

								&:after{
									content:'';
									display: block;
									width: 50px;
									height: 2px;
									position: absolute;
									bottom: 0;
									left: 50%;
									transform: translate(-50%,0);
									background: $lightblue;
								}
							}
							>.gform_description{
								@include gravity_reset();
								margin:14px auto 0;
								font-size: get_em(14px,16px);
								line-height: get_em(24px,14px);
								text-align: center;
								color: $darkblue;
							}
						}

						>.gform_body{
							padding: 0 25px;

							>.gform_fields{
								@include gravity_reset();

								>.gfield{
									font-size: get_em(14px,16px);
									@include gravity_reset();
									margin:0 0 get_em(20px,14px);
									position: relative;

									>.gfield_label{
										color: $lightblue;
										font-weight: 600;
										display: inline-block;
										position: absolute;
										transform: translate(0%,-50%);
										padding: 0 get_em(11px,16px);
										opacity: .25;
										top: 50%;
										left: 20px;
										background: $white;
										transition: all .16s linear;
										-webkit-appearance: none;
										box-shadow: none;

										opacity: 1;
										left: 10%;
										top: 0;
										transform: translate(0%,-50%);
										color: $blue;

										>.gfield_required{
											display: none;
										}
									}
									>.ginput_container{
										@include gravity_reset();

										>input[type='text'],
										textarea{
											width: 100%;
											max-width: 100%;
											display: block;
											font-size: 1em;
											padding: get_em(13px,14px) get_em(25px,14px);
											border-radius:0!important;
											border:2px solid $lightblue;
											outline: none;
											min-height: 0!important;
											line-height: 1.25em;
										}

										>input[type='text']{										
											transition: all .16s linear;
											-webkit-appearance: none;
											box-shadow: none;
										}
									}
								}
							}
						}
						>.gform_footer{
							padding: 25px 0 0;

							>input[type='submit']{
								display: block;
								width: 100%;
								max-width: 100%;
								line-height: 1em!important;
								min-height: 0!important;
								appearance:none;
								border:none;
								background: $lightblue;
								color: $white;
								font-size: 16px;
								letter-spacing: .9px;
								cursor: pointer;
								padding: get_em(20px,16px) 0;
								transition: all .16s linear;

								&:hover{
									background:$blue;
								}
							}
						}
					}
				}
			}
		}
		>.blog-sidebar{
			display: block;
			width: 100%;
			max-width: 100%;
			border-left: 10px solid $lightblue;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.08);

			>ul{
				display: block;
				width: 100%;
				max-width: 100%;
				padding: 20px 0;
				margin:0;
				list-style: none;

				>li{
					padding: 0 28px;
					margin:14px 0;

					>a{
						display: block;
						text-decoration: none;
						color: $darkblue;
						font-size: 14px;
						font-family: $openSans;
						line-height: get_em(19px,14px);
						transition: all .16s linear;

						&:hover{
							color:$lightblue;
						}
					}

					&.active{
						>a{
							font-weight: 600;
							color: $lightblue;
						}
					}
				}
			}
		}
	}

	@media(min-width: 768px){

		>.side-bar-inset{
			display: block;
			width: 100%;
			max-width: 300px;
			background: $white;
		}

		&.sticky{
			>.side-bar-inset{
				position: fixed;
				z-index:2;
                top:165px;
			}
		}
		&.sticky.stuck{
			>.side-bar-inset{
				position: absolute;
				bottom: 0;
				top: auto;
				left: 0;
				right: 0;
			}
		}
	}	

	@media(max-width: 768px){
		display:block;
		width:100%;
		max-width:100%;
		flex:0 0 100%;
		flex:auto;
		margin-bottom:100px;
	}
}
