>article.single-blog-post{							

	>a{
		display: block;
		text-decoration: none;
		color: $darkgrey;
		padding: 25px 25px 35px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.15);

		>.blog-post-meta-data{
			display: block;
			width: 100%;
			max-width: 100%;
			display: flex;
			align-items: flex-start;

			>span{
				margin-right: 25px;
				font-size: get_em(14px,16px);
				color: $grey;
				font-weight: 600;

				>i.fas{
					margin-right: 10px;
				}
			}
			>.author-image{
				margin:-13px 0 0 auto;
				flex:0 0 60px;
				width: 60px;
				height: 60px;
				vertical-align: middle;
				border:4px solid $lightblue;
				border-radius: 50%;
				overflow: hidden;
				text-align: center;

				>img{
					width: 100%;
					height: 100%;
					max-width: 100%;
					max-height: 100%;
					display: block;
					vertical-align: middle;
				}
			}
		}
		>.blog-post-categories{
			display:block;
			margin:7px 0 0;
			>p{
				font-family: $openSans;
				font-weight: bold;
				color: $darkgrey;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: inline-block;
				margin:0;
				padding: 0 0 4px;
				border-bottom: 2px solid $lightblue;

				>span{
					&:last-of-type{
						>span{
							display:none;
							visibility: hidden;
						}
					}
				}
			}
		}
		>.blog-post-data{
			padding: 19px 0 0;
			>h3{
				font-family: $openSans;
				font-size: get_em(24px,16px);
				line-height: get_em(32px,24px);
				color: $darkblue;
				font-weight: normal;
				display: block;
				margin:0 0 20px;
			}
			@import '../partials/wsywig';

			>.wsywig-content{

			}
		}
	}
}