.home-specialties,
.service-specialties {
  position: relative;
  z-index: 1;
  padding: 3rem 0;
  background-color: $lightgrey;
  text-align: center;
  
  > .flex {
    margin-top: -6rem;
    flex-direction: column;
    
    @media(min-width: 1000px) {
      flex-direction: row;
    }
  }
  
  .specialty-card {
    margin: 1rem 30px;
    padding: 2em;
    color: $blue;
    background-color: $white;
    border-radius: 1rem;
    text-decoration: none;

    &:hover {
        color: $white;
        background-color: $blue;
    }

    a {
        text-decoration: none;
    }
    
    @media(min-width: 1000px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    i {
      margin-bottom: 1rem;
      color: $green;
      font-size: 3em;
    }
    
    .title {
      position: relative;
      margin-bottom: 3rem;
      font-style: normal;
      
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1.5rem;
        transform: translateX(-50%);
        width: 15%;
        height: 2px;
        background-color: $green;
      }
    }

    div {
      text-align: left;
    }

    h2 {
      text-align: center;
    }
  }
}

.service-specialties {
  > .flex {
    margin-top: 0;
  }
  
  .specialty-card {
    width: 100%;
    margin: 0 0 0 15px;
    
    &:last-child {
      margin-right: 15px;
    }
    
    &:hover {
      background-color: $blue !important;
      
      div,
      h2 {
        color: $white !important;
      }
    }
  }
}
