>article.video-card-wrapper{
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	padding: 25px;
	transition: all .16s linear;
	box-shadow: 0px 2px 4px rgba(0,0,0,0);


	>.categories{
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0 0 12px;

		>p{
			font-family: $openSans;
			font-weight: bold;
			color: $darkgrey;
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			display: inline-block;
			margin:0;
			padding: 0 0 4px;
			border-bottom: 2px solid $lightblue;

			>span{
				&:last-of-type{
					>span{
						display:none;
						visibility: hidden;
					}
				}
			}
		}
	}
	>.video-wrapper{
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
		z-index: 1;
		border-radius: 4px;
		overflow: hidden;
		border:2px solid transparent;
		transition: all .16s linear;

		>a{
			display: block;
			width: 100%;
			max-width: 100%;
			height: 0;
			padding-top: 56.25%;
			text-decoration: none;
			text-align: center;
			vertical-align: middle;
			position: relative;
			z-index: 1;

			&:before{
				content:'';
				position:absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				background: transparentize($black,.5);
				transition: all .16s linear;
			}

			&.video{
				&:before{
					background:transparent;
				}				
				&:after{
					content:'';
					display: block;
					width: 40px;
					height: 40px;
					position: absolute;
					bottom: 10px;
					right: 10px;
					transform: translate(0,0);
					z-index: 3;
					opacity: .5;
					background: url('../img/play-arrow-circle.png')no-repeat;
					background-size: 100% 100%;
					background-position: center center;
					transition: all .16s linear;
				}
			}
			&.success{
				&:after{
					content:'';
					display: block;
					width: 60px;
					height: 45px;
					position: absolute;
					bottom: 15px;
					right: 15px;									
					z-index: 3;
					opacity: .5;
					background: url('../img/film-icon.png')no-repeat;
					background-size: 60px 45px;
					background-position: center center;
					transition: all .16s linear;
				}				
			}
		}

	}
	>.video-details{
		display: block;
		width: 100%;
		max-width: 100%;

		>.video-extras{
			padding: 12px 0;
			margin:0;
			display: block;
			font-size: 14px;
			color: $grey;
			font-weight: 600;

			>span{
				margin-right: 10px;

				>.fas{
					margin-right: 10px;
				}
			}
		}
		>.video-title{
			display: block;
			text-align: left;
			font-size: 18px;
			color: $darkblue;
			font-family: $openSans;
			line-height: get_em(28px,18px);
			margin:0;
			min-height: get_em(56px,18px);
		}
	}

	&:hover{
		box-shadow: 0px 2px 4px rgba(0,0,0,0.15);

		>.video-wrapper{
			border-color: $lightblue;
			>a{
				&:before{
					background:transparent;
				}
				&.video{
					&:before{
						background: transparentize($black,.5);
					}
				}
				&:after{
					opacity: 1;
				}
			}
		}
	}

	@media(max-width: 920px){
		width:50%;
	}
	@media(max-width: 660px){
		width:100%;
	}
}