.wsywig-content{
	font-size: 1em;
	font-family: $openSans;
	font-weight: normal;
	line-height: get_em(30px,16px);
	color: $darkgrey;
	
	img{
		max-width: 100%;
		height: auto;
		
		&.alignnone{
			display: inline-block;
		}
		&.alignleft{
			float: left;
			margin-right: 1.5em;
		}
		&.aligncenter{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		&.alignright{
			float: right;
			margin-left: 1.5em;
		}
	}	
	a{
		display: inline-block;
		position: relative;
		transition: all .1s linear;
		text-decoration: none;
		color: $blue;
		position: relative;
		border-bottom: 2px solid $lightgrey;	

		&:hover{
			background: $lightgrey;
		}
	}
	h1,h2,h3,h4,h5,h6{
		font-family: $openSans;
	}
	h1,h2,h4,h6{
		color: $blue;
	}
	h3,h5{
		color: $darkgrey;
	}
	h1{
		font-weight: 300;
		letter-spacing: 1px;
		font-size: get_em(36px,16px);
		line-height: get_em(60px,36px);
	}
	h2{
		font-weight: normal;
		font-size: get_em(32px,16px);
		line-height: get_em(48px,32px);
		letter-spacing: 1px;
	}
	h3{
		font-weight: normal;
		font-size: get_em(28px,16px);
		line-height: get_em(42px,28px);
	}
	h4{
		font-weight: normal;
		font-size: get_em(24px,16px);
		line-height: get_em(36px,24px);
		letter-spacing: 1px;
	}
	h5{
		font-weight: bold;
		letter-spacing: 2px;
		font-size: get_em(18px,16px);
		line-height: get_em(24px,18px);
		text-transform: uppercase;
	}
	h6{
		font-weight: bold;
		font-size: get_em(14px,16px);
		line-height: get_em(19px,14px);
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	iframe{
		max-width: 100%;
		overflow: hidden;
	}	
	blockquote{
		display: block;
		font-size: 1em;
		line-height: get_em(28px,16px);
		width: 100%;
		max-width: 100%;
		border-left: 10px solid $lightblue;
		padding: 0 0 0 get_em(25px,16px);
		margin:get_em(30px,16px) 0;

		>p{
			margin:0;
		}
	}
	>.featured-image-wrapper{
		display: block;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		margin:0 0 get_em(50px,16px);

		>img{
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}
	>:first-child{
		margin-top:0;
	}
	>:last-child{
		margin-bottom: 0;
	}
}